:root {
    --font: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #929292;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #9250a8;
    font-family: var(--font);
    text-shadow: 1px .5px #dfdfdf;
    letter-spacing: 1px;
}

a:hover {
    color: #d57ef1;
}

header p span,
header p {
    font-family: var(--font);
    color: #dfdfdf;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: italic;
}

main {
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #585858;
    border-radius: 10px;
    box-shadow: 5px 5px #6e6e6eac;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: var(--font);
    color: #dfdfdf;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
}

h2 {
    width: 100%;
    color: #dfdfdf;
    letter-spacing: 1px;
    font-family: var(--font);
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    margin: 10px 30px 30px 30px;
    text-align: center;
}

main p {
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--font);
    font-weight: 300;
    font-style: italic;
    margin: 10px;
    color: #dfdfdf;
    padding: 10px;
    width: 100%;
}

main div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

button {
    font-family: var(--font);
    letter-spacing: .5px;
    margin: 12px;
    padding: 8px;
    border-radius: 10px;
    font-size: 1em;
    background-color: #482353;
    color: white;
    box-shadow: 4px 4px #504f4fac;
    text-shadow: .5px .5px #e8d7f487;

}

button:hover {
    background-color: #9250a8;
    box-shadow: 4px 4px #c8c7c7ac;

}

li {
    list-style-type: none;
    font-family: var(--font);
    font-size: 2.5rem;
    color: #dfdfdf;
    text-shadow: 2px 2.5px #deccebaf;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 1.7em;
    }

    main p {
        font-size: .8em;
    }

    h2 {
        font-size: 1em;
    }

    button {
        margin: 7px;
        padding: 4px;
        font-size: .8em;
    }
}